*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ecf0f3;
  outline: none;
  font-family: sans-serif;
  font-weight: normal;
}
.Kontainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Kalkulator{
  background-color: #ecf0f3;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 15px #ffffff,
                    5px 5px 15px rgb(200, 200, 200);
  display:  grid;
  grid-template-columns: repeat(4,70px);
}
input{
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: #ecf0f3;
  box-shadow: inset -5px -5px 15px #ffffff,
              inset 5px 5px 15px rgb(200, 200, 200);
  border: none;
  border-radius: 30px;
  color: rgb(70, 70, 70);
  font-size: 50px;
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}
button{
  height: 48px;
  width: 48px;
  background-color: #ecf0f3;
  box-shadow: -5px -5px 15px #ffffff,
              5px 5px 15px rgb(200, 200, 200);
  border: none;
  border-radius: 50%;
  margin: 8px;
  font-size: 14px;
  font-weight: bold;
  color: slategray;
 }
 button:hover{
    cursor: pointer;
    transition-duration: 0.7s; 
    background-color: #ffffff;
    color: goldenrod;
 }
.equal{
  width: 115px;
  border-radius: 40px;
  background-color: -5px -5px 15px #ffffff,
                      5px 5px 15px rgb(200, 200, 200);
}